@font-face {
  font-family: 'BPG Boxo-Boxo';
  src: url('/fonts/bpg_boxo-boxo.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: cursive, 'BPG Boxo-Boxo';
  background-color: #fffbea83;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
}

.progress-track {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 8px; /* w-1.5 */
  height: 100px;
  border-radius: 9999px; /* rounded-full */
  background-color: #eadad6; /* bg-white/10 */
  overflow: hidden;
  z-index: 100;
}


header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 60px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px 0 150px;
  margin-top: 200px;
}

footer {
  padding-top: 200px;
}


@media (max-width: 480px) {
  .progress-track {
    display: none;
}
}

@media (max-width: 1200px) {
  header, main {
    padding-inline: 40px;
  }
}

@media (max-width: 992px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: 20px;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
    gap: 40px;
  }
}